:root {
    --color-primary-50: #F5F7FF;
    --color-primary-100: #DEE5FB;
    --color-primary-200: #C4D3F9;
    --color-primary-300: #9BB6F5;
    --color-primary-400: #6C91EE;
    --color-primary-500: #4C6EE8;
    --color-primary-600: #344EDC;
    --color-primary-700: #2B3BCA;
    --color-primary-800: #2932A4;
    --color-primary-900: #262F82;
    --color-primary-950: #1C204F;

    --color-primary-01: #4C6EE81A;

    --color-natural-50: #F6F6F6;
    --color-natural-100: #E7E7E7;
    --color-natural-200: #D1D1D1;
    --color-natural-300: #B0B0B0;
    --color-natural-400: #888888;
    --color-natural-500: #737373;
    --color-natural-600: #5D5D5D;
    --color-natural-700: #4F4F4F;
    --color-natural-800: #454545;
    --color-natural-900: #3D3D3D;
    --color-natural-950: #262626;

    --color-natural-01: #7373731A;
    --color-natural-white: #FFFFFF;
}
